language: cpp
compiler:
  - gcc
  - clang

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq cmake
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi

before_script:
  - mkdir build && cd build

script:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  - cmake .. && make
